.container{
  display: flex;
  margin-left: 65px;
}
.block{
  height:20px;
  width:40px;
  border:2px solid black;
  margin:10px 20px 0px 0px;
}
.easy{
  background-color: red;
}
.letters{
  background-color: red;
}
.medium{
  background-color: yellow;
}
.strong{
  background-color: greenyellow;
}
